<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>

<head th:replace="fragments/head.html :: head">
</head>

<body>

<nav th:replace="fragments/head.html :: navigation">
</nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/product/new}">Add Product</a>
        </div>

        <div class="col-12 mt-3">
            <form class="form-inline">

                <div class="form-group mb-2 mr-2">
                    <label for="productFilter" class="sr-only">Product filter</label>
                    <input type="text" class="form-control" id="productFilter" th:value="${param.productFilter}"
                           name="productFilter" placeholder="Product filter">
                </div>
                <div class="form-group mb-2 mr-2">
                    <label for="productMinFilter" class="sr-only">Product Min Filter</label>
                    <input type="text" class="form-control" id="productMinFilter" th:value="${param.productMinFilter}"
                           name="productMinFilter" placeholder="Input min cost">
                </div>
                <div class="form-group mb-2 mr-2">
                    <label for="productMaxFilter" class="sr-only">Product Max Filter</label>
                    <input type="text" class="form-control" id="productMaxFilter" th:value="${param.productMaxFilter}"
                           name="productMaxFilter" placeholder="Input max cost">
                </div>

                <button type="submit" class="btn btn-primary mb-2">Apply</button>
            </form>
        </div>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th th:replace="fragments/sort_header.html :: sort_header ('Id', 'id')"></th>
                    <th th:replace="fragments/sort_header.html :: sort_header ('Title of product', 'title')"></th>
                    <th th:replace="fragments/sort_header.html :: sort_header ('Cost', 'cost')"></th>
                    <th sec:authorize="hasAnyRole('SUPER_ADMIN', 'ADMIN')" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:unless="${products.isEmpty()}" th:each="product : ${products}">
                    <th scope="row" th:text="${product.id}">1</th>
                    <td th:text="${product.title}">Alex</td>
                    <td th:text="${product.cost}"></td>
                    <td sec:authorize="hasAnyRole('SUPER_ADMIN', 'ADMIN')">
                        <a class="btn btn-success" th:href="@{/product/{id}(id = ${product.id})}"><i
                                class="fas fa-edit"></i></a>
                        <form class="d-inline" th:method="delete" th:action="@{/product/{id}(id = ${product.id})}">
                            <button class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
                <tr th:if="${products.isEmpty()}">
                    <td colspan="4">
                        No data
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:unless="${products.isEmpty()}" class="col-12">
            <nav aria-label="...">
                <ul class="pagination">
                    <li th:classappend="${products.isFirst()} ? 'disabled'"
                        class="page-item">
                        <a th:replace="fragments/pagination.html :: pagination (${products.number}, ${products.size}, Previous)"></a>
                    </li>

                    <li th:each="num : ${#numbers.sequence(1, products.totalPages)}"
                        th:classappend="${num == products.number + 1} ? 'active'"
                        class="page-item">
                        <a class="page-link" th:href="@{/product(page=${num}, size=${products.size},
                        productFilter=${param.productFilter}, productMinFilter=${param.productMinFilter},
                        productMaxFilter=${param.productMaxFilter}, sort=${param.sort})}">[[${num}]]<span
                                th:if="${num == products.number + 1}" class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li th:classappend="${products.isLast()} ? 'disabled'"
                        class="page-item">
                        <a th:replace="fragments/pagination.html :: pagination (${products.number + 2}, ${products.size}, Next)"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts">
</th:block>

</body>
</html>
